@{
    ViewData["Title"] = "Home Page";
}

<h1> ## HELLO WORLD ##</h1>












<p>asawfs sadfsad sadfas</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Footer Heading</h1>